
.headerconnexion{
    background-image: url(Group\ 16.png);
    background-repeat:no-repeat ;
    height: 19vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    color: white;
    font-size: 25px;
    text-shadow: 0px 0px 5px black;
    background-size: cover;
}
.mainconnexion{
    min-height: 100vh;
    background-color: #b4b4b4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.connexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    border-right: #4e4e4e 10px solid;
    height: 80%;

}
.connexion h1{
    font-size: 60px;
    margin: 20px;
    background-color: #d9d9d9;
    width: 70%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    margin: 0px;
    margin-bottom: 20px;
}
.mailetmdp{
    background-color: #4e4e4e;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border: white 5px solid;
    box-shadow: 0px 0px 5px black;

}
.mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    gap: 30px;
    width: 100%;
}
.mail p{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #d9d9d9;
    text-align: center;
    width: 40%;
}
.mdp{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
    gap: 30px;
    width: 100%;
}
.mdp p{
margin-top: 50px;
margin-bottom: 50px;
background-color: #d9d9d9;
text-align: center;
width: 40%;
}
.mailetmdp input{
    width:100%;

    font-size: 20px;
}
#input{
    width: 80%;
}

.mainpasencoreinscrit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;  
}
.mainpasencoreinscrit h1{
    font-size: 60px;
    margin: 20px;
    background-color: #d9d9d9;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px black;
    margin: 0px;
    margin-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
.pasencoreinscrit{
    background-color: #4e4e4e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: white 5px solid;
    width: 70%;
}
.pinput{
    padding: 50px;
    width: 80%;
}
.alignement{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.alignement p{
    font-size: 30px;

    background-color: #d9d9d9;
    width: 50%;
    text-align: center;
}
.submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.submit input{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
}
.alignement input{
    font-size: 20px;
}